
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.business-card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-front {
  background-color: #3498db;
  color: white;
  transform: rotateY(0deg);
}

.profile-picture {
  max-width: 130px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.card-front-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.company-logo {
  max-width: 280px;
  align-items: center;
}

.card-front-middle {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.card-front-middle-right {
  margin-left: 10px;  
}

.card-front-middle-right > * {
  margin-middle: 0;
  margin-bottom: 0;
}

.card-back {
  background-color: #e74c3c;
  color: white;
  transform: rotateY(180deg);
}

.business-card.clicked .card {
  transform: rotateY(180deg);
}

/* Responsive styles for smartphones */
@media (max-width: 600px) {
  .business-card {
    width: 100vw;
    height: calc(100vw * 4 / 3);
  }
}